In [1]:
import sqlite3
import pandas as pd


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# –°–æ–∑–¥–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –≤ –ø–∞–º—è—Ç–∏
con = sqlite3.connect(':memory:')
table_names = [
    'Categories',
    'Customers',
    'Employees',
    'OrderDetails',
    'Orders',
    'Products',
    'Shippers',
    'Suppliers',
]

base_path = 'C:\\Users\\Roadmarshal\\Downloads\\'

# –ó–∞–≥—Ä—É–∂–∞–µ–º –≤—Å–µ CSV —Ñ–∞–π–ª—ã –≤ –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö
for table in table_names:
    file_path = f'{base_path}{table}.csv'
    data = pd.read_csv(file_path, sep=';')
    data.to_sql(table, con, index=False, if_exists='replace')
# –°—á–µ—Ç—á–∏–∫ –∑–∞–¥–∞–Ω–∏–π
tasks = 0
# –ó–∞–¥–∞–Ω–∏–µ 1: –í—ã–±–µ—Ä–∏—Ç–µ –∑–∞–∫–∞–∑—á–∏–∫–æ–≤ –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏, –§—Ä–∞–Ω—Ü–∏–∏ –∏ –ú–∞–¥—Ä–∏–¥–∞.
query1 = '''
SELECT CustomerName, Country, Address FROM Customers
WHERE Country IN ('Germany', 'France') OR City = 'Madrid'
'''
result1 = pd.read_sql(query1, con)
print('–ó–∞–¥–∞–Ω–∏–µ 1:')
print(result1)
tasks += 1
# –ó–∞–¥–∞–Ω–∏–µ 2: –í—ã–±–µ—Ä–∏—Ç–µ —Ç–æ–ø 3 —Å—Ç—Ä–∞–Ω—ã –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑—á–∏–∫–æ–≤.
query2 = '''
SELECT Country, COUNT(*) AS CustomerCount
FROM Customers
GROUP BY Country
ORDER BY CustomerCount DESC
LIMIT 3
'''
result2 = pd.read_sql(query2, con)
print('\n–ó–∞–¥–∞–Ω–∏–µ 2:')
print(result2)
tasks += 1
# –ó–∞–¥–∞–Ω–∏–µ 3: –í—ã–±–µ—Ä–∏—Ç–µ –ø–µ—Ä–µ–≤–æ–∑—á–∏–∫–∞, –∫–æ—Ç–æ—Ä—ã–π –æ—Ç–ø—Ä–∞–≤–∏–ª 10-–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ –∑–∞–∫–∞–∑.
query3 = '''
SELECT Shippers.ShipperName, Orders.OrderDate
FROM Orders
JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
ORDER BY Orders.OrderDate
LIMIT 1 OFFSET 9
'''
result3 = pd.read_sql(query3, con)
print('\n–ó–∞–¥–∞–Ω–∏–µ 3:')
print(result3)
tasks += 1
# 4 –∑–∞–¥–∞–Ω–∏–µ, 1 —á–∞—Å—Ç—å: –í—ã–±–æ—Ä —Å–∞–º–æ–≥–æ –¥–æ—Ä–æ–≥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞
query4_1 = '''
SELECT ProductName, MAX(Price) AS MaxPrice
FROM Products
'''
result4_1 = pd.read_sql(query4_1, con)
print('\n4 –∑–∞–¥–∞–Ω–∏–µ, 1 —á–∞—Å—Ç—å: –°–∞–º—ã–π –¥–æ—Ä–æ–≥–æ–π —Ç–æ–≤–∞—Ä:')
print(result4_1)

# 4 –∑–∞–¥–∞–Ω–∏–µ, 2 —á–∞—Å—Ç—å: –î–∏–∞–ø–∞–∑–æ–Ω —Ü–µ–Ω –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Å –æ–ø–∏—Å–∞–Ω–∏–µ–º, —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º
query4_2 = '''
SELECT Categories.CategoryName, MIN(Products.Price) AS MinPrice, MAX(Products.Price) AS MaxPrice, Categories.Description
FROM Categories
LEFT JOIN Products ON Categories.CategoryID = Products.CategoryID
GROUP BY Categories.CategoryID
'''

result4_2 = pd.read_sql(query4_2, con)
print('\n4 –∑–∞–¥–∞–Ω–∏–µ, 2 —á–∞—Å—Ç—å: –î–∏–∞–ø–∞–∑–æ–Ω —Ü–µ–Ω –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Å –æ–ø–∏—Å–∞–Ω–∏–µ–º:')
print(result4_2)
tasks += 1
# –ó–∞–¥–∞–Ω–∏–µ 5: –ö–∞–∫–æ–π —Ç–æ–≤–∞—Ä –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞. –í—ã–≤–æ–¥–∏–º –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü.
query_most_popular_product = '''
SELECT Products.ProductID, Products.ProductName, SUM(OrderDetails.Quantity) AS TotalQuantity
FROM Products
JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
GROUP BY Products.ProductID
ORDER BY SUM(OrderDetails.Quantity) DESC
LIMIT 1
'''

most_popular_product = pd.read_sql(query_most_popular_product, con)
print('\n–°–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π —Ç–æ–≤–∞—Ä –∏ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü:')
print(most_popular_product)

# –ò–∑–≤–ª–µ–∫–∞–µ–º ProductID —Å–∞–º–æ–≥–æ –ø–æ–ø—É–ª—è—Ä–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä–∞
most_popular_product_id = most_popular_product['ProductID'].iloc[0]

# –¢–µ–ø–µ—Ä—å, –∑–Ω–∞—è ProductID, –º—ã –º–æ–∂–µ–º –ø–æ–ª—É—á–∏—Ç—å —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∑–∞–∫–∞–∑–æ–≤ —Å —ç—Ç–∏–º —Ç–æ–≤–∞—Ä–æ–º
query_orders_for_most_popular = f'''
SELECT OrderDetails.OrderID, OrderDetails.Quantity
FROM OrderDetails
WHERE OrderDetails.ProductID = {most_popular_product_id}
'''
orders_for_most_popular = pd.read_sql(query_orders_for_most_popular, con)
print('\n–í—Å–µ –∑–∞–∫–∞–∑—ã –¥–ª—è —Å–∞–º–æ–≥–æ –ø–æ–ø—É–ª—è—Ä–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä–∞:')
print(orders_for_most_popular)
tasks += 1
# –ó–∞–¥–∞–Ω–∏–µ 6: –¢–æ–ø 5 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤
query6 = '''
SELECT Suppliers.SupplierName, Suppliers.Country, Suppliers.ContactName, Suppliers.Phone, COUNT(DISTINCT OrderDetails.OrderID) AS QuantityOfOrders
FROM Suppliers
JOIN Products ON Suppliers.SupplierID = Products.SupplierID
JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
GROUP BY Suppliers.SupplierID
ORDER BY QuantityOfOrders DESC
LIMIT 5
'''

result6 = pd.read_sql(query6, con)
print('\n–ó–∞–¥–∞–Ω–∏–µ 6: –¢–æ–ø-5 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤:')
print(result6)
tasks += 1
# 10 –∑–∞–¥–∞–Ω–∏–µ: –°–∫–æ–ª—å–∫–æ –±–∞–Ω–æ–∫ –∫—Ä–∞–±–æ–≤–æ–≥–æ –º—è—Å–∞ –≤—Å–µ–≥–æ –±—ã–ª–æ –∑–∞–∫–∞–∑–∞–Ω–æ.
query10 = '''
SELECT SUM(OrderDetails.Quantity) as TotalCrabMeatCans
FROM Products
JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
WHERE Products.ProductName LIKE '%–∫—Ä–∞–±–æ–≤–æ–µ –º—è—Å–æ%' OR
      Products.ProductName LIKE '%–º—è—Å–æ –∫—Ä–∞–±–æ–≤–æ–µ%' OR
      Products.ProductName LIKE '%–º—è—Å–æ –∫—Ä–∞–±–∞%' OR
      Products.ProductName LIKE '%crab meat%' OR
      Products.ProductName LIKE '%meat crab%'
'''

result10 = pd.read_sql(query10, con)
print('\n10 –∑–∞–¥–∞–Ω–∏–µ: –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–∞–Ω–Ω–æ–≥–æ –∫—Ä–∞–±–æ–≤–æ–≥–æ –º—è—Å–∞:')
print(result10)
tasks += 1
# 9 –∑–∞–¥–∞–Ω–∏–µ: –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ —É —Ç—Ä–µ—Ö —Å–∞–º—ã—Ö –º–æ–ª–æ–¥—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤
query9 = '''
SELECT COUNT(Orders.EmployeeID) as NumberOfOrders,
       Employees.FirstName || ' ' || Employees.LastName as FullName
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Orders.EmployeeID
ORDER BY DATE(Employees.BirthDate) DESC
LIMIT 3
'''

result9 = pd.read_sql(query9, con)
print('\n9 –∑–∞–¥–∞–Ω–∏–µ: –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ —É —Ç—Ä–µ—Ö —Å–∞–º—ã—Ö –º–æ–ª–æ–¥—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ –∏ –∏—Ö –∏–º–µ–Ω–∞:')
print(result9)
tasks += 1
# 8 –∑–∞–¥–∞–Ω–∏–µ: –ö–∞–∫–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ –≤ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É —Å–∞–º—ã–º –¥–æ—Ä–æ–≥–∏–º –∏ —Å–∞–º—ã–º –¥–µ—à–µ–≤—ã–º –∑–∞–∫–∞–∑–æ–º –∏–∑ –°–®–ê
query8 = '''
WITH OrderCost AS (
    SELECT 
        Orders.OrderID, 
        SUM(Products.Price * OrderDetails.Quantity) AS TotalCost
    FROM Orders
    JOIN Customers ON Orders.CustomerID = Customers.CustomerID
    JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    WHERE Customers.Country = 'USA'
    GROUP BY Orders.OrderID
)
SELECT 
    MAX(TotalCost) AS MaxCost,
    MIN(TotalCost) AS MinCost,
    MAX(TotalCost) - MIN(TotalCost) AS PriceDifference
FROM OrderCost
'''

result8 = pd.read_sql(query8, con)
print('\n8 –∑–∞–¥–∞–Ω–∏–µ: –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –∑–∞–∫–∞–∑–æ–≤ –∏–∑ –°–®–ê, –∞ —Ç–∞–∫–∂–µ –∏—Ö —Ä–∞–∑–Ω–∏—Ü–∞:')
print(result8)
tasks += 1
# 7 –∑–∞–¥–∞–Ω–∏–µ: –ö–∞–∫—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é —Ç–æ–≤–∞—Ä–æ–≤ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –≤ –ë—Ä–∞–∑–∏–ª–∏–∏, –≤—ã–≤–µ–¥–∏—Ç–µ —Å—Ç—Ä–∞–Ω—É, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ —Å—É–º–º—É.
query7 = '''
WITH TotalCosts AS (
    SELECT 
        Categories.CategoryName,
        SUM(Products.Price * OrderDetails.Quantity) AS TotalCategoryCost
    FROM Orders
    JOIN Customers ON Orders.CustomerID = Customers.CustomerID
    JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    JOIN Categories ON Products.CategoryID = Categories.CategoryID
    WHERE Customers.Country = 'Brazil'
    GROUP BY Categories.CategoryName
    ORDER BY TotalCategoryCost DESC
    LIMIT 1
)
SELECT 
    'Brazil' AS Country, 
    CategoryName, 
    TotalCategoryCost
FROM TotalCosts
'''

result7 = pd.read_sql(query7, con)
print('\n7 –∑–∞–¥–∞–Ω–∏–µ: –ö–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–æ–≤, –∑–∞–∫–∞–∑—ã–≤–∞–µ–º–∞—è –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –≤ –ë—Ä–∞–∑–∏–ª–∏–∏:')
print(result7)
tasks += 1
if tasks == 10:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')

–ó–∞–¥–∞–Ω–∏–µ 1:
                            CustomerName  Country  \
0                    Alfreds Futterkiste  Germany
1                Blauer See Delikatessen  Germany
2                   Blondel p√®re et fils   France
3              B√≥lido Comidas preparadas    Spain
4                               Bon app'   France
5              Drachenblut Delikatessend  Germany
6                        Du monde entier   France
7   FISSA Fabrica Inter. Salchichas S.A.    Spain
8                      Folies gourmandes   France
9                         Frankenversand  Germany
10                   France restauration   France
11                       K√∂niglich Essen  Germany
12                  La corne d'abondance   France
13                      La maison d'Asie   France
14                   Lehmanns Marktstand  Germany
15                Morgenstern Gesundkost  Germany
16                    Ottilies K√§seladen  Germany
17                     Paris sp√©cialit√©s   France
18                            QUICK-Stop  Germany
19                      Romero y tomillo    Spain
20                  Sp√©cialit√©s du monde   France
21                    Toms Spezialit√§ten  Germany
22                  Victuailles en stock   France
23             Vins et alcools Chevalier   France
24                     Die Wandernde Kuh  Germany

                         Address
0                  Obere Str. 57
1                 Forsterstr. 57
2               24, place Kl√©ber
3                 C/ Araquil, 67
4           12, rue des Bouchers
5                   Walserweg 21
6   67, rue des Cinquante Otages
7             C/ Moralzarzal, 86
8       184, chauss√©e de Tournai
9              Berliner Platz 43
10                54, rue Royale
11                 Maubelstr. 90
12        67, avenue de l'Europe
13         1 rue Alsace-Lorraine
14                  Magazinweg 7
15                   Heerstr. 22
16            Mehrheimerstr. 369
17       265, boulevard Charonne
18              Taucherstra√üe 10
19                   Gran V√≠a, 1
20             25, rue Lauriston
21                 Luisenstr. 48
22            2, rue du Commerce
23            59 rue de l'Abbaye
24             Adenauerallee 900

–ó–∞–¥–∞–Ω–∏–µ 2:
   Country  CustomerCount
0      USA             13
1  Germany             11
2   France             11

–ó–∞–¥–∞–Ω–∏–µ 3:
        ShipperName   OrderDate
0  Federal Shipping  02.10.1996

4 –∑–∞–¥–∞–Ω–∏–µ, 1 —á–∞—Å—Ç—å: –°–∞–º—ã–π –¥–æ—Ä–æ–≥–æ–π —Ç–æ–≤–∞—Ä:
     ProductName  MaxPrice
0  C√¥te de Blaye     263.5

4 –∑–∞–¥–∞–Ω–∏–µ, 2 —á–∞—Å—Ç—å: –î–∏–∞–ø–∞–∑–æ–Ω —Ü–µ–Ω –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Å –æ–ø–∏—Å–∞–Ω–∏–µ–º:
     CategoryName  MinPrice  MaxPrice  \
0       Beverages      4.50    263.50
1      Condiments     10.00     43.90
2     Confections      9.20     81.00
3  Dairy Products      2.50     55.00
4  Grains/Cereals      7.00     38.00
5    Meat/Poultry      7.45    123.79
6         Produce     10.00     53.00
7         Seafood      6.00     62.50

                                                  Description
0                 Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, and seasonings
2                         Desserts, candies, and sweet breads
3                                                     Cheeses
4                         Breads, crackers, pasta, and cereal
5                                              Prepared meats
6                                   Dried fruit and bean curd
7                                            Seaweed and fish

–°–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π —Ç–æ–≤–∞—Ä –∏ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü:
   ProductID        ProductName  TotalQuantity
0         31  Gorgonzola Telino            458

–í—Å–µ –∑–∞–∫–∞–∑—ã –¥–ª—è —Å–∞–º–æ–≥–æ –ø–æ–ø—É–ª—è—Ä–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä–∞:
    OrderID  Quantity
0     10253        20
1     10272        40
2     10273        15
3     10325         4
4     10335        25
5     10342        56
6     10356        30
7     10359        70
8     10363        20
9     10374        30
10    10376        42
11    10390        60
12    10393        32
13    10423        14

–ó–∞–¥–∞–Ω–∏–µ 6: –¢–æ–ø-5 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤:
                        SupplierName    Country   ContactName           Phone  \
0  Plutzer Lebensmittelgro√üm√§rkte AG    Germany   Martin Bein    (069) 992755
1                      Pavlova, Ltd.  Australia   Ian Devling   (03) 444-2343
2           Specialty Biscuits, Ltd.         UK  Peter Wilson  (161) 555-4448
3                    Norske Meierier     Norway  Beate Vileid     (0)2-953010
4            Formaggi Fortini s.r.l.      Italy    Elio Rossi    (0544) 60323

   QuantityOfOrders
0                37
1                37
2                33
3                30
4                27

10 –∑–∞–¥–∞–Ω–∏–µ: –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–∞–Ω–Ω–æ–≥–æ –∫—Ä–∞–±–æ–≤–æ–≥–æ –º—è—Å–∞:
   TotalCrabMeatCans
0                256

9 –∑–∞–¥–∞–Ω–∏–µ: –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ —É —Ç—Ä–µ—Ö —Å–∞–º—ã—Ö –º–æ–ª–æ–¥—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ –∏ –∏—Ö –∏–º–µ–Ω–∞:
   NumberOfOrders        FullName
0               6  Anne Dodsworth
1              27  Laura Callahan
2              14     Robert King

8 –∑–∞–¥–∞–Ω–∏–µ: –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –∑–∞–∫–∞–∑–æ–≤ –∏–∑ –°–®–ê, –∞ —Ç–∞–∫–∂–µ –∏—Ö —Ä–∞–∑–Ω–∏—Ü–∞:
   MaxCost  MinCost  PriceDifference
0  7698.45     60.0          7638.45

7 –∑–∞–¥–∞–Ω–∏–µ: –ö–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–æ–≤, –∑–∞–∫–∞–∑—ã–≤–∞–µ–º–∞—è –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –≤ –ë—Ä–∞–∑–∏–ª–∏–∏:
  Country CategoryName  TotalCategoryCost
0  Brazil    Beverages            13690.0
–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ